body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dd,
dt,
form,
fieldset,
input,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 16px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

b,
strong {
    font-weight: normal;
}

i,
em {
    font-style: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clr {
    display: block;
    height: 0;
    content: '';
    overflow: hidden;
    clear: both;
}